.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card-container {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  font-weight: 500;
  color: #aaa;
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number {
  color: #364fc7;
  font-size: 2.8rem;
  font-weight: 600;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.increase {
  color: #51cf66;
}

.decrease {
  color: #ff6b6b;
}

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
