.heading {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.experience {
  text-transform: uppercase;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
