.container {
  margin-top: 2rem !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.control-container {
  display: grid;
  gap: 1rem;
}

.label {
  font-size: 1.6rem;
  font-weight: 500;
}

.content {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.certificate-container {
  height: 15rem;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}

.tech-stack-container {
  display: grid;
  gap: 2rem;
}

.item-container {
  border-radius: 8px;
  border: 3px solid #364fc7;
}

.item-heading {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.item-content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item-control-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (min-width: 600px) {
  .control-container {
    grid-template-columns: 0.4fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .control-container {
    grid-template-columns: 0.3fr 1fr;
  }

  .tech-stack-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 85%;
    margin: auto;
  }
}
